<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Welcome</title>
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <h1 class="text-center">Welcome!!</h1>
            <h5 class="text-center">(site under construction...)</h5>
            <div class="d-grid justify-content-end">
                <form action="/log_out" method="post">
                    <input class="bg-primary" type="submit" value="Log Out">
                </form>
            </div>
        </div>

    </div>

</body>

</html>