<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Edit Recipe</title>
</head>

<body>
    <div class="container text-center">
        <div class="row justify-content-center mt-5">
            <h1>Edit your recipe</h1>
            <div class="d-flex justify-content-end">
                <div class="col-auto pe-5"><a href="/recipes">Home</a></div>
                <div class="col-auto">
                    <form action="/log_out" method="post">
                        <input class="bg-primary" type="submit" value="Log Out">
                    </form>
                </div>
            </div>
            <div class="col-11 bg-primary-subtle flex-column p-5 mt-3">
                {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="/process/edit" method="post">
                    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                    <div class="mb-3">
                        <label for="name" class="form-label">Name:</label>
                        <input type="text" class="form-control" name="name" id="name" value="{{ recipe.name }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="description">Description:</label>
                        <textarea class="form-control" name="description" id="description" rows="3">{{ recipe.description }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="instructions">Instructions:</label>
                        <textarea class="form-control" name="instructions" id="instructions" rows="3">{{ recipe.instructions }}</textarea>
                    </div>
                    <div class="mb-3">
                        <p>Under 30 minutes?</p>
                        {% if recipe.under_30 == 'Yes' %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="under_30" id="under_30_y" value="Yes" checked>
                            <label class="form-check-label" for="under_30_y">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="under_30" id="under_30_n" value="No">
                            <label class="form-check-label" for="under_30_n">No</label>
                        </div>
                        {% else %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="under_30" id="under_30_y" value="Yes">
                            <label class="form-check-label" for="under_30_y">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="under_30" id="under_30_n" value="No" checked>
                            <label class="form-check-label" for="under_30_n">No</label>
                        </div>
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="date_made">Date made:</label>
                        <input type="date" class="form-control" name="date_made" value="{{ recipe.date_made }}">
                    </div>
                    <button type="submit" class="btn btn-warning">Update and Post</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>